@charset "UTF-8";

.box1 {
    display: flex;
}

header {
    background-color: green;
    width: 100%;
    height: 100px;
}

aside {
    margin-top: 10px;
    background-color: darkgoldenrod;
    width: 300px;
    height: 500px;
}

article {
    background-color: orangered;
    margin: 10px;
    width: 1050px;
    height: 500px;
}

.box {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 300px;
}

.img {
    width: 150px;
    height: 150px;
}
img {
    width: 150px;
    height: 150px;
}
footer {
    background-color: green;
    width: 100%;
    height: 100px;
}